* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: changecolor;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#app h1 {
    font-size: 250%;
    font-family: 'Lobster', cursive;
    /* text-align: center; */
}

button {
    background: #FF7F50;
    padding: 10px 22px;
    border: none;
    color: white;
    border-radius: 4px;
    margin: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 15px -2px #212c4430;
}

button:hover {
    background: #CCFF00;
}

@keyframes changecolor {
    0% {background-color: #7FFF00;}
    50% {background-color: #00FFFF;}
    100% {background-color: #DE3163;}
}